// body {
//   background-image: url("./bg_2.jpg") ;     
//   background-size: cover;
//   background-color: #cccccc;
  
//  }
 
 .login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text{
  color: black;
  font-size: 40px;
  text-shadow: 2px 2px 8px #000000;
}

.lInput{
  height: 30px;
  padding: 10px;
 // opacity: 0.5;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.lButton:disabled{
  background-color: #0071c28c;
  cursor: not-allowed;
}