.fundRequestList {
  display: flex;

  .fundRequestListContainer {
      flex: 6;
      display: flex;
      flex-direction: column;

      .top {
          flex:1;
          padding: 20px;
          display: flex;
          gap: 20px;
    
          .left{
            flex: 2;
            padding-left: 30px; 
            padding-right: 30px;
            padding-bottom: 20px;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            position: relative;

            .list-boxOutter{
              padding-top: 10px;

              .listBox {
                border-style: solid;
                border-color: #D5CAFC;
                padding: 10px;

               .list-boxInner {
                  background-color: #F1EDFE;
                  padding-left: 2px;
                  padding-right: 2px;
                }

                .itemTitle {
                  margin-bottom: 10px;
                  color: #555;
                }
    
                .lisBox-Details {
                  margin-bottom: 10px;
    
                }
             }
            }
    
           
    
            
          }
          .right{
            flex: 1;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 20px;
            position: relative;


            .item {
              display: flex;
              gap: 20px;
    
              .itemImg {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
              }
    
              .details {
                .itemTitle {
                  margin-bottom: 10px;
                  color: #555;
                }
    
                .detailItem {
                  margin-bottom: 10px;
                  font-size: 14px;
    
                  .itemKey {
                    font-weight: bold;
                    color: gray;
                    margin-right: 5px;
                  }
    
                  .itemValue {
                    font-weight: 300;
                    .buttons{
                      .editButton {
                          position: absolute;
                          padding: 5px;
                          font-size: 15px;
                          font-weight: bold;
                          background-color: #D5CAFC;
                          border: solid;
                          border-color: #B9A8FB;
                          cursor: pointer;
                          border-radius: 0px 0px 0px 5px;
         
                          .icon {
                          font-size: 15px;
                          }
                      }
                      
                    }
                  }
                }
              }
            }


            

           
          }

        }
    
        .bottom {
          flex: 4;
          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
          padding: 20px;
          margin: 10px 20px;
          display: flex;
          
          // flex-direction: row;
          // gap: 20px;

          // .progressbar {
          //   max-height: 100px;
          //   width: 30%;
          //   // max-width: 30%;

            .title {
              font-size: 16px;
              color: rebeccapurple;
              margin-bottom: 20px;
            }
          // }
        }
    
        .title {
          font-size: 16px;
          color: lightgray;
          margin-bottom: 20px;
        }
  }
}