.defaulterList {
    display: flex;

    .defaulterListContainer {
        flex: 6;
        display: flex;
        flex-direction: column;

        .top {
            padding: 20px;
            display: flex;
            gap: 20px;
      
            .left{
              flex: 1;
              -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
              box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
              padding: 20px;
              position: relative;
      
              .editButton {
                position: absolute;
                top: 0;
                right: 0;
                padding: 5px;
                font-size: 15px;
                color: #7451f8;
                background-color: #7551f818;
                cursor: pointer;
                border-radius: 0px 0px 0px 5px;

                // .popup {
                //   background-color: red;
                //   .insidePop {
                //     background-color: red;
                //   }
                // }

                .icon {
                  font-size: 15px;
                }
              }
      
              .item {
                display: flex;
                gap: 20px;
      
                .itemImg {
                  width: 100px;
                  height: 100px;
                  border-radius: 50%;
                  object-fit: cover;
                }
      
                .details {
                  .itemTitle {
                    margin-bottom: 10px;
                    color: #555;
                  }
      
                  .detailItem {
                    margin-bottom: 10px;
                    font-size: 14px;
      
                    .itemKey {
                      font-weight: bold;
                      color: gray;
                      margin-right: 5px;
                    }
      
                    .itemValue {
                      font-weight: 300;
                    }
                  }
                }
              }
            }
            .right{
              flex: 2;
              padding: 20px; 

              .submitBtns{
                margin-top: 30px;
                display: flex;
                justify-content: space-around;

                .btnApproved,.btnRejected {
                  // width: 100%;
                  height: 50px;
                  padding: 10px;
                  border: none;
                  background-color: green;
                  color: white;
                  border-radius: 5px;
                  font-weight: bold;
                  font-size: 18px;
                  cursor: pointer;
                  margin-top: 15px;
                  margin-bottom: 30px;
                }
                .btnRejected {
                  background-color: red;
                }
              }
            }

          }
      
          .bottom {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 20px;
            margin: 10px 20px;
            display: flex;
            // flex-direction: row;
            // gap: 20px;

            // .progressbar {
            //   max-height: 100px;
            //   width: 30%;
            //   // max-width: 30%;

              .title {
                font-size: 16px;
                color: rebeccapurple;
                margin-bottom: 20px;
              }
            // }
          }
      
          .title {
            font-size: 16px;
            color: lightgray;
            margin-bottom: 20px;
          }
    }
}