.btnCancel {
    height: 50px;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: red;
  }